# Python dependency file to be used in Dockerfile compilation
# ADD NECESSARY PYTHON LIBRARIES HERE:

flask==3.1.0
flask_socketio==5.5.1
mysql-connector-python==9.4.0

pyserial==3.5

numpy>=1.26.0

gevent==26.4.0
gevent-websocket==0.10.1
greenlet==3.4.0 
zope.event==6.1 
zope.interface==8.3

