/* TODO */
body {
    background-color: #000000;
    color: white;
}
.title {
    background-color:#ffffff;
}


.container {
  display: flex;
  gap: 10%;
  /* Optional: Adjust horizontal alignment */
  /* Other options for justify-content: flex-start, flex-end, center, space-between, space-evenly */
  /* Optional: Adjust vertical alignment (items will match height by default) */
  /* Other options for align-items: stretch, flex-start, flex-end, baseline */
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.readings {
    display: flex;
    color: white;
    align-items:flex-start;
    flex-direction: column;
    width: 25%;
    background-color:dodgerblue;
}

.important {
    width: 100%;
}

.important table {
    border-collapse: collapse;
    width: 100%;
}
.important td {
    border: none;
}

.other-readings {
    width: 100%;
}
.other-readings table {
    width: 100%;
    border: 2px solid #000000;
}

.graphs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.other {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.modal {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 3px solid #000000;
    position: relative;
    display: none;
}

.graph {
<<<<<<< HEAD
    background-color: #ffffff;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width for larger screens */
    position: relative;
}

.SD_page {
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width for larger screens */
    position: relative;
}
/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
}*/
=======
  background-color: #ffffff;
  border: 1px solid #888;
  width: 100%;
}

.other canvas {
  flex: 1 1 0;
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}
<<<<<<< HEAD
>>>>>>> fc6358d (basic frontend changes)
=======

.SD_page {
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Max width for larger screens */
    position: relative;
}
/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
}*/
>>>>>>> 3442087 (thing)
