[Unit]
Description=Electric Racing QML Display
After=graphical.target racing-can.service
Requires=racing-can.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/racing/sensors-microcontrollers-25-26/onboard-rpi/racingDisplay

ExecStartPre=/bin/sleep 3

# Use system python3 so it can see apt-installed PyQt5
ExecStart=/usr/bin/python3 \
    /home/racing/sensors-microcontrollers-25-26/onboard-rpi/racingDisplay/display/qml_display.py

# Point to both venv packages (python-can, numpy) AND project modules
Environment=PYTHONPATH=/home/racing/sensors-microcontrollers-25-26/onboard-rpi/racingDisplay/venv/lib/python3.11/site-packages:/home/racing/sensors-microcontrollers-25-26/onboard-rpi/racingDisplay/core:/home/racing/sensors-microcontrollers-25-26/onboard-rpi/racingDisplay/config
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/racing/.Xauthority

Restart=no
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=racing-display

[Install]
WantedBy=graphical.target