<!-- Front page HTML -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
    <!-- This code connects WebsocketsIO to the index.html file, so it can update the
     display in real-time. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Waits to receive 'update_data' from socket's emit function in app.py
        // Once it receives it, it runs the function.
        // The parseFloat and toFixed(2) ensure that the data read is a float up to 2 decimal places.
        socket.on('update_data', function(data) {
            
            // Does nothing as of now

            console.log("Received data", data);
        });
        </script>

        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="337.5" length="750"/>
        </div>
        
        
        <h1>Hello World</h1>
        <!-- Write up-to-date sensor readings here!!! -->
         <style>
            table, th, td {
            border: 1px solid black; border-collapse: collapse;
            }
        </style>
        <table> 
            <tr>
                <td>Name</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>{{ data[0].name }}</td>
                <td>{{ data[0].data_value }} </td>
            </tr>
            <tr>
                <td>{{ data[1].name }}</td>
                <td>{{ data[1].data_value }}</td>
            </tr>
            <tr>
                <td>{{ data[2].name }}</td>
                <td>{{ data[2].data_value }}</td> 
            </tr>
        </table>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <script>
            var x1 = {{ data[0].time_stamp }};
            var x2 = {{ data[1].time_stamp }};
            var x3 = {{ data[2].time_stamp }};
            var y1 = {{ data[0].data_value }};
            var y2 = {{ data[1].data_value }};
            var y3 = {{ data[2].data_value }};
            const xValues = [x1, x2, x3];
            const yValues = [y1, y2, y3];

            const myChart = new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false, 
                    backgroundColor:"rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,1.0)",
                    data: yValues
                }]
            },
            options: {}
            });
        </script>
    </body>
</html>