<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Houston Telemetry App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body style = "background: linear-gradient(to bottom right, #ff7e5f, #feb47b); ">
        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="337.5" length="750"/>
        </div>
        <button id = "back">Go Back</button>
        <button id = "upload">Upload .db File</button>
        <div id="message"></div>
        <input type = "file" id = "file-input" style = "display: none">
        <script  src="{{ url_for('static', filename='buttons.js') }}"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-wasm.js"></script>
        <button id = "download">Download .db File</button>
        <input type = "file" id = "file-input" style = "display: none">
        <script src="{{ url_for('static', filename='buttons.js') }}"></script>
        <script src="{{ url_for('static', filename='download.js') }}"></script>
    </body>
</html>