<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flask App </title>
        <link rel = "stylesheet" type= "text/css" href = " {{ url_for('static', filename = 'style.css') }}">
    </head>
    <body style = "background: black; ">
        <div class = "title">
            <img src="https://sites.tufts.edu/racing/files/2020/04/cropped-newlogo-2.png"
            width="337.5" length="750"/>
        </div>
        <button id = "upload">Upload Db File</button>
        <div id="message"></div>
        <input type = "file" id = "file-input" style = "display: none">
        <script  src="{{ url_for('static', filename='buttons.js') }}"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-wasm.js"></script>
    </body>
</html>